In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_train = pd.read_csv('./data/application_train.csv', index_col=0)
data_test = pd.read_csv('./data/application_test.csv', index_col=0)

In [3]:
print('data train:',data_train.shape)
data_train.head()

data train: (307511, 121)

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
data_train.index.unique().shape

(307511,)

In [5]:
print('data test:',data_train.shape)
data_test.head()

data test: (307511, 121)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_train.TARGET.unique()

array([1, 0])

Se crea la funcion label_encoder la cual recibe un dataframe que presenta colunmas con valores de tipo object y los convierte en nÃºmericos

In [7]:
def label_encoder(df):
    assert sum(df.dtypes == 'object') >= 1, 'dataframe not have a values of type object'
    #se saca la lista de columnas de tipo object
    list_columns_object = df.dtypes[df.dtypes == 'object'].index
    for index in list_columns_object:
        #se cambian los tipos a category para poder aplicar el .cat.codes de pandas
        df.loc[:,index] = df.loc[:,index].astype('category').cat.codes
        
    return df

In [8]:
#se codifican los datos tanto de entrenamiento y prueba
data_train = label_encoder(data_train)
data_test = label_encoder(data_test)

#### Observaciones
El dataset de entrenamiento se encuentra desvalanceado significativante, cerca de un 92% la etiqueta o y un 8% la etiqueta 1

In [9]:
print('target 1 :', sum(data_train.TARGET==1), 'datos')
print('target 0 :', sum(data_train.TARGET==0), 'datos')
print('------------------')
print('%target 1 :', np.mean(data_train.TARGET==1))
print('%target 0 :', np.mean(data_train.TARGET==0))

target 1 : 24825 datos
target 0 : 282686 datos
------------------
%target 1 : 0.0807288194569
%target 0 : 0.919271180543

debido a que los datos presentan valores nan, estos se cambiarÃ¡n por ceros a ver que tal va

In [10]:
data_train = data_train.fillna(value=0)
data_test = data_test.fillna(value=0)

In [11]:
X_train = data_train[[col for col in  data_train.columns if col!='TARGET']]
y_train = data_train.TARGET
X_test = data_test

print('Dimensiones')
print('X train: ',X_train.shape)
print('y train: ',y_train.shape)
print('X test: ',X_test.shape)

Dimensiones
X train:  (307511, 120)
y train:  (307511,)
X test:  (48744, 120)

Debido a que las clases se encuentran desbalanceadas, se crea la funciÃ³n comupte_class_weigth la cual las balancea

In [12]:
def compute_class_weigth(y):
    u = np.unique(y)
    r = {}
    for i in range(len(u)):
        r[i] = sum(u[0]==y)/sum(u[i]==y)
        
    return r

In [13]:
cw = compute_class_weigth(y_train)
cw

{0: 1.0, 1: 11.387150050352467}

In [14]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(class_weight=cw, n_jobs=3, n_estimators=15)
RFC.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True,
            class_weight={0: 1.0, 1: 11.387150050352467}, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=3,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [26]:
predict = RFC.predict_proba(X_test)

In [28]:
predict.shape

(48744, 2)

In [34]:
predict_proba = []
for i in predict:
    if i[0]>=[1]:
        predict_proba.append(i[0])
    else: predict_proba.append(i[1])

In [37]:
len(predict_proba)

48744

In [39]:
result = pd.DataFrame(data=predict_proba, index=data_test.index, columns=['TARGET'])

In [40]:
result.shape

(48744, 1)

In [41]:
result.index.name = 'SK_ID_CURR'

In [42]:
result.head()

              TARGET
SK_ID_CURR
100001      1.000000
100005      1.000000
100013      0.066667
100028      1.000000
100038      0.133333

In [43]:
result.to_csv('./results/submission_test_7.csv')

In [157]:
np.mean(y_train==1), np.mean(y_train==0)

(0.080728819456864956, 0.91927118054313506)

In [44]:
from sklearn.naive_bayes import GaussianNB

GNB = GaussianNB(priors=(0.1,0.9))
GNB.fit(X_train,y_train)

GaussianNB(priors=(0.1, 0.9))

In [45]:
GNB.score(X_train,y_train)

0.36742100282591517

In [46]:
predict = GNB.predict_proba(X_test)

In [47]:
predict_proba = []
for i in predict:
    if i[0]>=[1]:
        predict_proba.append(i[0])
    else: predict_proba.append(i[1])

In [16]:
sum(predict==0),sum(predict==1)

(15443, 33301)

In [50]:
result = pd.DataFrame(data=predict_proba, index=data_test.index, columns=['TARGET'])

In [51]:
result.index.name = 'SK_ID_CURR'
result.to_csv('./results/submission_test_8.csv')