In [1]:
import pandas as pd
import numpy as np

In [2]:
posh_cb = pd.read_csv('./data/POS_CASH_balance.csv')
posh_cb = posh_cb.set_index(posh_cb.columns[1])
posh_cb = posh_cb.drop('SK_ID_PREV',axis=1)
posh_cb.shape

(10001358, 6)

In [3]:
posh_cb.head()

,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_CURR,,,,,,
182943,-31,48.0,45.0,Active,0,0
367990,-33,36.0,35.0,Active,0,0
397406,-32,12.0,9.0,Active,0,0
269225,-35,48.0,42.0,Active,0,0
334279,-35,36.0,35.0,Active,0,0

In [5]:
%run ./code/label_encoder.py
posh_cb = label_encoder(posh_cb)
posh_cb = posh_cb.groupby(posh_cb.index).last()
posh_cb.shape

(337252, 6)

In [6]:
posh_cb.to_csv('./data/data_procesada/posh_cb_1.csv')