In [1]:
import pandas as pd
import numpy as np

se importan el conjunto de datos de train/test

In [2]:
data_train = pd.read_csv('./data/application_train.csv')
data_test = pd.read_csv('./data/application_test.csv')

In [3]:
np.mean(data_train.TARGET==0), np.mean(data_train.TARGET==1)

(0.91927118054313506, 0.080728819456864956)

In [4]:
data_train_1 = data_train.loc[data_train.loc[data_train.index,'TARGET']==1]
data_train_0 = data_train.loc[data_train.loc[data_train.index,'TARGET']==0]

data_train_1.shape, data_train_0.shape

((24825, 122), (282686, 122))

Para balancear el dataset se recurre a elegir de las etiquetas 0, el mismo número de datos que las etiquetas 1 contienen

In [5]:
index_0 = np.random.choice(data_train_0.index,data_train_1.shape[0],False)

In [6]:
index_0

array([107946, 197517, 279197, ..., 179399,  44373, 222812])

In [7]:
data_train_0 = data_train_0.loc[index_0]
data_train_1.shape, data_train_0.shape

((24825, 122), (24825, 122))

In [8]:
data_train = pd.concat((data_train_0,data_train_1)).sort_index()
data_train.shape, data_test.shape

((49650, 122), (48744, 121))

In [9]:
data_train = data_train.set_index(data_train.SK_ID_CURR)
data_test = data_test.set_index(data_test.SK_ID_CURR)

data_train = data_train.drop('SK_ID_CURR',axis=1)
data_test = data_test.drop('SK_ID_CURR',axis=1)

se considera que algunas columnas no aportan información siginificante, para esto se recurre a eliminarlas, dichas columnas se mensionan a continuación:

    -NAME_TYPE_SUITE: Quien acompañaba al cliente en el momento de solicitar el prestamo.
    -HOUR_APPR_PROCESS_START: hora aproximada en la que el cliente solicitó el prestamo.

In [10]:
data_train = data_train.drop(['NAME_TYPE_SUITE','HOUR_APPR_PROCESS_START'],axis=1)
data_test = data_test.drop(['NAME_TYPE_SUITE','HOUR_APPR_PROCESS_START'],axis=1)

así, por otro lado hay que decir que ciertas caracteristicas vienen representadas por valores los cuales están alejados de a realidad, por ejemplo las edades o dias, vienen de forma negativa, para esto se hará el respectivo cambio.

In [11]:
data_train.DAYS_BIRTH = abs(data_train.DAYS_BIRTH)/365 #años de las personas
data_test.DAYS_BIRTH = abs(data_test.DAYS_BIRTH)/365 #años de las personas

In [12]:
data_train.DAYS_EMPLOYED = abs(data_train.DAYS_EMPLOYED)
data_test.DAYS_EMPLOYED = abs(data_test.DAYS_EMPLOYED)

data_train.DAYS_REGISTRATION = abs(data_train.DAYS_REGISTRATION)
data_test.DAYS_REGISTRATION = abs(data_test.DAYS_REGISTRATION)

data_train.DAYS_LAST_PHONE_CHANGE = abs(data_train.DAYS_LAST_PHONE_CHANGE)
data_test.DAYS_LAST_PHONE_CHANGE = abs(data_test.DAYS_LAST_PHONE_CHANGE)

dado que la columa OWN_CAR_AGE puede ser significante ya que es a la edad del carro del cliente, para los clientes que no tienen vehiculo se procede a poner 0

In [13]:
data_train.OWN_CAR_AGE = data_train.OWN_CAR_AGE.fillna(value=0)
data_test.OWN_CAR_AGE = data_test.OWN_CAR_AGE.fillna(value=0)

ahora dadas las columnas de EXT_SOURCE_1,2 y 3 las cuales son una puntuación de base de datos esxternas, para los clientes que no tienen puntuación, se asumirá la minima puntuación

In [14]:
data_train.EXT_SOURCE_1 = data_train.EXT_SOURCE_1.fillna(value=data_train.EXT_SOURCE_1.min())
data_test.EXT_SOURCE_1 = data_test.EXT_SOURCE_1.fillna(value=data_test.EXT_SOURCE_1.min())

data_train.EXT_SOURCE_2 = data_train.EXT_SOURCE_2.fillna(value=data_train.EXT_SOURCE_2.min())
data_test.EXT_SOURCE_2 = data_test.EXT_SOURCE_2.fillna(value=data_test.EXT_SOURCE_2.min())

data_train.EXT_SOURCE_3 = data_train.EXT_SOURCE_3.fillna(value=data_train.EXT_SOURCE_3.min())
data_test.EXT_SOURCE_3 = data_test.EXT_SOURCE_3.fillna(value=data_test.EXT_SOURCE_3.min())

In [16]:
data_train.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0,427500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,702000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
100045,0,Cash loans,F,N,Y,0,99000.0,247275.0,17338.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [20]:
y_train = data_train['TARGET']
data_train = data_train[[col for col in data_train.columns if col!='TARGET']]

In [22]:
y_train.to_csv('./data/data_procesada/y_train_1.csv')
data_train.to_csv('./data/data_procesada/data_train_1.csv')
data_test.to_csv('./data/data_procesada/data_test_1.csv')